{% extends "base.html" %}
{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <main>
        <div class="centered_content_container">
            <h1>Signup</h1>
            <form class = "accounts_form signup_form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
{% endblock content %}
