{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/pickleball_shuffle.css" %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script> function hamburgerToggle(){
            const hamburger = document.getElementById("hamburger");
            const items = document.getElementById("items");
            const nav = document.getElementById("nav");
            items.classList.toggle("active");
            hamburger.classList.toggle("active"); // Add or remove "active" class for hamburger animation
            nav.classList.toggle("active");
        }
        </script>
    </head>
    <body class="base_body">
        <header>
            <div class = 'header_left'>
                <img class='icon' src="{% static "images/white_pickle.png" %}">
                <h3 class = 'pickleball_icon_text'>Pickleball Shuffle</h3>
            </div>
            <div class = 'header_right'>
                <nav class="nav" id="nav">
                    <button onClick = "hamburgerToggle()" class="hamburger" id="hamburger">
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                    </button>
                    <ul class = "items" id = "items">
                        {% if user.is_authenticated %}
                            <li class = "item">
                                <a class="link-btn" href="{% url 'players_lists' %}">My Lists</a>
                            </li>
                            <li class = "item">
                                <a class="link-btn" href="{% url 'players_list_create' %}">Create a List</a>
                            </li>
                            <li class = "item">
                                <a class="link-btn" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class = "item">
                                <a class="link-btn" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class = "item">
                                <a class="link-btn" href="{% url 'signup' %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% comment %} {% load custom_tags %}
                {% show_search_form %} {% endcomment %}
            </div>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
