<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    Create Todo Item
{% endblock title %}
{% block content %}
    <main>
        <div class="centered_content_container">
            <h1>Create a new players list</h1>
            <form class="create_list_form" id="create-players-list-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="player-inputs">
                    <!-- Initially, there are no input fields -->
                </div>
                <button type="button" onclick="addPlayerInput()">Add Player!</button>
                <button type="submit" class="create_button">Create</button>
            </form>
        </div>
    </main>
    <script>
        function addPlayerInput() {
            var container = document.getElementById("player-inputs");
            var input = document.createElement("input");
            input.classList.add("new_player_input");
            input.type = "text";
            input.name = "new_players"; // Name for the input field
            input.placeholder = "New Player";
            container.appendChild(input);
            container.appendChild(document.createElement("br")); // Line break for spacing
            var inputs = document.querySelectorAll('#player-inputs input');
            if (inputs.length > 0) {
                inputs[inputs.length - 1].focus();
            }
        }

        document.getElementById('create-players-list-form').addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && event.target.tagName === 'INPUT') {
                event.preventDefault();
            }
        });
    </script>
{% endblock content %}
