{% extends "base.html" %}
{% block title %}
    Results
{% endblock title %}
{% block content %}
    <main>
        <div class="centered_content_container search_results_container">
            <heading>
            <h1>Search results:</h1>
            </heading>
            {% if player_results %}
                <ol class="search_results">
                    {% for player in player_results %}
                        <li>
                            {{ player.name }} is found in  <a href="{% url 'players_list_detail' player.player_list.id %}">{{ player.player_list.title }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% elif message %}
                <p>{{ message }}</p>
            {% else %}
                <p>Your query, "{{ query }}",  returned no search results from any of your lists</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
