{% extends "base.html" %}
{% block title %}
    Schedule of Games
{% endblock title %}
{% block content %}
    <main>
        <div class="centered_content_container schedule_container">
            <div class = "schedule_heading_container">
                <div class="schedule_heading">
                    <h1>Schedule of Games for {{ list_title }}</h1>
                </div>
                <form class="next_round"
                      method="post"
                      action="{% url 'list_games' list_id %}">
                    {% csrf_token %}
                    {% comment %} hide num_courts input to be able to grab the data in the view {% endcomment %}
                    <input type="hidden" name="num_courts" value="{{ num_courts }}">
                    <div class = "new_player_arrived_container">
                        <input type=text name="new_player_to_add" placeholder="New Player Arrived">
                        <button type="submit" name="add_player" class="create_button">Add a Player</button>
                    </div>
                    <div class = "player_left_container">
                        <select name="player_name_to_remove" id="player_name_to_remove">
                            <option value={{ None }}>none
                            </option>
                            {% for player in players_list.players.all %}
                                <option value={{ player.name }}>{{ player.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="remove_player" class="create_button">Remove Player</button>
                    </div>
                    <button type="submit" name="next_round" class="create_button">Next Round</button>
                </form>
            </div>
            <div class="rounds_container">
                {% if not schedule %}<p>Something went wrong!  Have you entered at least 4 players?</p>{% endif %}
                {% for round_object in schedule %}
                    <div class = "round">
                        <h2>Round {{ round_object.round_number }}</h2>
                        {% for game in round_object.round.games %}
                            <div class="game_container">
                                Court {{ forloop.counter }}:
                                <div class = "names_container">
                                    <p class="team">{{ game.team1_player1 }} and {{ game.team1_player2 }}</p>
                                    <p>versus</p>
                                    <p class = "team">{{ game.team2_player1 }} and {{ game.team2_player2 }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="sitting_out_container">
                            <p>Sitting out:</p>
                            <div class="sitting_out_names">
                                {% if not round_object.round.sitting_out %}
                                    <span>No one is sitting out</span>
                                {% else %}
                                    {% for player in round_object.round.sitting_out %}
                                        {% if forloop.last and round_object.round.sitting_out|length >= 2 %}
                                            <span class="sitting_out">and {{ player }}</span>
                                        {% elif round_object.round.sitting_out|length <= 2 %}
                                            <span class="sitting_out">{{ player }}</span>
                                        {% else %}
                                            <span class="sitting_out">{{ player }},{{ " " }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
